@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#inner__link {
  color:#1558d6;
  display: inline-block;
}
#yellow__line {
  background:linear-gradient(transparent 50%, #ffff66 0%);
}
