@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  letter-spacing:0.1em;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
}
p {
    /* font-size: calc(0.6875rem + ((1vw - 3.5px) * 0.5263)); */
    letter-spacing: 0.1em;
}
li {
  list-style: none;
  letter-spacing: 0.15em;
}

/** design **/

#inner__link {
  color:#1558d6;
  display: inline-block;
}
.yellow__line {
  background:linear-gradient(transparent 30%, #ffff66 0%);
}
.red {
  color: rgba(255,10,0,1);
  background:linear-gradient(transparent 30%, #ffff66  0%);
}
.block {
  display:block;
  margin-bottom: calc(0.9375rem + ((1vw - 3.5px) * 2.1053));
}
.bold {
  font-weight: 900;
}
.link {
  color:#1558d6;
  border-bottom: 1px solid #1558d6;
}
.img {
  width: 95%;
  height: 100%;
  display:block;
  margin:0 auto calc(0.9375rem + ((1vw - 3.5px) * 1.5789));
  border-radius: 1%;
}

.list_block {
  display:block;
  margin: 0 auto;
  border-radius: 2%;
  border: 1px solid rgba(200, 200, 200, 1);;
}
.decimal {
  padding:3%;
  padding-bottom: 0;
}
.disc {
  padding:5%;
  padding-bottom: 0;
}
.decimal > li {
  list-style-position: inside;
  list-style-type: decimal;
  margin-bottom: calc(0.9375rem + ((1vw - 3.5px) * 2.1053));
}
.disc > li {
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: calc(0.9375rem + ((1vw - 3.5px) * 2.1053));
}